.road {
    background-image: url("https://static.pexels.com/photos/24347/pexels-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    min-height: 400px;
}

.header {
    color: white;
    font-size: 40px;
    display: block;
    margin: 1em;
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    float: left;
    text-shadow: 2px 2px gray;
}

.header2 {
    color: white;
    font-size: 24px;
    text-align: center;
    margin: 0px;
    margin: 1em;
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    float: left;
    text-shadow: 2px 2px gray;
}

.header3 {
    color: orange;
    margin: 0px;
    margin: 1em;
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    float: left;
}

.aboutme {
    color: white;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    justify-content: center;
    font-family: 'Candal', sans-serif;
}

.aboutme p {
    font-size: 13px;
}

.aboutme h1 {
  text-shadow: 2px 2px gray;
  font-size: 36px;
  padding-bottom: 1em;
}


.aboutme2 {
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    justify-content: center;
    font-family: 'Candal', sans-serif;
}

.aboutme3 {
    color: white;
    /* max-width: 35em; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-top: auto; */
    /* text-align: center; */
    /* font-family: 'Candal', sans-serif; */
}


.projects {
    color: white;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    justify-content: center;
    text-shadow: 2px 2px gray;
}

.projects2 {
    color: white;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    justify-content: center;
    text-shadow: 2px 2px gray;
}

.projects3 {
    color: white;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    justify-content: center;
}

.contact {
    color: white;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
}

.contact h1 {
    text-shadow: 2px 2px 5px teal;
}


.footer {
    color: yellow;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
}

.footer h3 {
    font-style: oblique;
}



@media only screen and (max-width: 1280px) {

    .header, .header h1 {
      color: white;
      font-size: 60px;
      display: block;
      margin: 1em;
    }
    .header2 {
      display: none;
    }
    .header3 {
      display: none;
    }
    .aboutme {
      padding: 3em;
      font-size: 28px;
    }
    .aboutme h1 {
      font-size: 28px;
    }
    .aboutme p {
      font-size: 20px;
    }
    .aboutme2 {
      display: none;
    }
    .aboutme3 {
        display: none;
    }
    .projects {
      display: block;
      text-align: center;
      background-size: cover;
    }
    .projects h1 {
        font-size: 28px;
    }
    .projects2 {
      display: none;
    }
    .projects3 {
      display: none;
    }
}

@media only screen and (max-width: 768px) {
    .body2 {
      background-size: cover;
    }
    .body3 {
      display: none;
    }
    .header {
      display: none;
    }
    .header2, .header2 h1 {
      display: block;
    }
    .header3 {
      display: none;
    }
    .aboutme {
      display: none;
    }    
    .aboutme2 {
      display: block;
      font-size: 18px;
    }
    .aboutme2, h1 {
        text-shadow: 2px 2px gray;
        font-size: 28px;
    }
    .aboutme2, p {
        font-size: 18px;
        text-shadow: none;
    }
    .aboutme3 {
      display: none;
    }
    .projects {
      display: none;
    }  
    .projects2 {
      display: block;
      text-align: center;
      
    }
    .projects2 h1 {
        font-size: 28px;
    }
    .projects3 {
        display: none;
    }
}

@media only screen and (max-width: 480px) {

    .header {
        display: none;
    }
    
    .header2 {
        display: none;  
    }
    .header3, .header3 h1 {
       font-size: 40px;
       color: white;
       text-align: center;
       padding: 0px;
       display: block;
       margin: 0px;
       text-shadow: 2px 2px gray;
       font-family: 
    }
    .aboutme {
        display: none;
    }
    .aboutme2 {
      display: none;
    }   
    .aboutme3, .aboutme3 h1 {
      padding: 1.5em;
      font-size: 1.5em;
      color: white;
      display: block;
      padding-top: 5em;
      text-align: center;
      text-shadow: 2px 2px gray;
    }
    .aboutme3 ul {
        text-align: left;
        text-shadow: none;
    }
    .projects {
        display: none;
    }
    .projects2 {
        display: none;
    }
    .projects3 {
        display: block;
        text-align: center;
        font-size: 1.5em;
        color: white;
        text-shadow: 2px 2px gray;

        


    }
}